
<!doctype HTML>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Sinatra Blackjack</title>
</head>
<body>
<button type="button" method ="post" >Begin Game</button>

    <h2>House Hand</h2>
    <p> random stuff here</p>

</body>
</html>

