
<!doctype HTML>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Sinatra Blackjack</title>
</head>
<body>
    <form action="/" method = "post">
        <input type="submit" value="Begin Game">
    </form>
    
    <h4>Dealer Hand</h4>
    <% if defined? game.dealer_hand %>
        <% game.dealer_hand.cards.each  do |card|  %>
         <span> <%= card %> </span> 
        <% end %> 
    <%  end  %>

    <h4>Player Hand</h4>
    <% if defined? game.player_hand %>    
        <% game.player_hand.cards.each  do |card|  %>
            <span><%= card %> </span> 
        <% end %> 
        <div><%= game.player_hand.hand_value%> </div>
    <%  end  %>

   <% if game.player_hand.status == "LIVE" %>    
      <form action="/hit" method = "post">
        <input type="submit" value="Hit">
      </form>
   <% else %>    
      <input type="submit" disabled value="Hit" />
   <% end %>    

  <% if game.player_hand.status == "LIVE" %>    
    <form action="/stay" method = "post">
        <input type="submit" value="Stay">
     </form>
 <% else %>    
      <input type="submit" value="Stay" disabled>
 <% end %>    

</body>
</html>

