
<!doctype HTML>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Sinatra Blackjack</title>
</head>
<body>
    <form action="/" method = "post">
        <input type="submit" value="Begin Game">
    </form>
    
    <h4>Dealer Hand</h4>
    <% if defined? dealer_hand %>
        <% dealer_hand.cards.each  do |card|  %>
         <span> <%= card %> </span> 
        <% end %> 
    <%  end  %>

    <h4>Player Hand</h4>
    <% if defined? player_hand %>    
        <% player_hand.cards.each  do |card|  %>
            <span><%= card %> </span> 
        <% end %> 
    <%  end  %>

    <form action="/hit" method = "post">
        <input type="submit" value="Hit">
    </form>


    <form action="/stay" method = "post">
        <input type="submit" value="Stay">
    </form>

</body>
</html>

